
body {
    background-color: black;
}

.jumbotron {
    background-color: rgb(32, 32, 32);
}

h1, h2, h3, h4, p {
    color: white;
}

a {
    color: cyan;
}

.year_title {
    color: rgb(28, 214, 28);
}

.topic_mech, .topic_osc, .topic_waves, .topic_grav {
    background-color: rgb(153, 0, 0);
}

.jaan_mech {
    color: rgb(182, 112, 112);
}

.topic_circ, .topic_elec, .topic_mag {
    background-color: rgb(0, 33, 139);
}

.jaan_em {
    color: rgb(149, 174, 255);
}

.topic_thermo, .topic_fluid {
    background-color: rgb(156, 109, 22);
}

.jaan_thermo {
    color: rgb(153, 128, 83);
}

.topic_opt, .topic_quantum, .topic_rel, .topic_nuc, .topic_other {
    background-color: rgb(38, 133, 55);
}

.jaan_other {
    color: rgb(133, 184, 142);
}