
h1, h2, h3, h4, h5, p, a {
    transition: color 0.5s ease;
}

div, body, .topic {
    transition: background-color 0.5s ease;
}

a:hover {
    text-decoration: none;
}

.inter_container hr {
    border: 1px dashed gray;
}

.center_text * {
    text-align: center;
}

.year_title {
    color: green;
    text-align: center;
}

.inline_text_container {
    margin-bottom: 10px;
}
 
.inline_text_container * {
    display: inline-block;
    margin-bottom: 0;
}

#contests {
    margin-top: 10px;
    margin-bottom: 15px;
}

.contest_selector_container {
    overflow-x: auto;
}

.no_margin {
    margin-bottom: 0;
}

.margin_bottom {
    margin-bottom: 10px;
}

.topic {
    border-radius: 2px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px
}

hr {
    background-color: gray;
}

.topic_mech, .topic_osc, .topic_waves, .topic_grav, .topic_cin {
    background-color: rgb(97, 0, 0);
}

.jaan_mech {
    color: rgb(97, 0, 0);
}

.topic_circ, .topic_elec, .topic_mag {
    background-color: rgb(0, 21, 88);
}

.jaan_em {
    color: rgb(0, 21, 88);
}

.topic_thermo, .topic_fluid {
    background-color: rgb(97, 68, 13);
}

.jaan_thermo {
    color: rgb(97, 68, 13);
}

.topic_opt, .topic_quantum, .topic_rel, .topic_nuc, .topic_other {
    background-color: rgb(19, 70, 28);
}

.jaan_other {
    color: rgb(19, 70, 28);
}

.final p {
    margin-bottom: 0;
}

.class_title_container {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.national_year_title_container {
    color: green;
    margin-bottom: 10px;
    text-align: center;
}

#img_logo {
    width: 500px;
}


@media only screen and (min-width: 768px) {
    .national_year_title_container {
        border-right: 1px solid green;
        text-align: right;
    }
    .class_title_container {
        border-right: 1px solid red;
        text-align: right;
    }
}

@media only screen and (max-width: 576px) {
    #img_logo {
        width: 80%;
    }

    .class_title_container * {
        margin-bottom: 0;
    }

    .nat_class_title > * {

        width: 30%;
        display: inline-block;
        margin: auto;

    }

    .nat_title_class {
        padding-right: 10px;
        text-align: right;
    }
    .nat_links {
        border-left: 1px solid red;
        padding-left: 10px;
        text-align: left;
    }
   
}

.baraj_link_row p {
    padding: 0 10px;
}

.links_row {
    margin-bottom: 7px;
}

.links_row p {
    width: 40%;
    margin: auto;
}

@media only screen and (max-width: 990px) {
    .inter_container h3 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 768px) {
 
    .links_row p:nth-child(1) {
        text-align: right;
    }

    .links_row p:nth-child(2) {
        text-align: left;
    }

    .links_col_container * {
        margin-bottom: 0;
    }

    h2 {
        font-size: 2em;
        margin: 0;
        padding: 0;
    }

    h3 {
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }

    h4 {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
    };

    .links_row {
        padding-bottom: 5px;
    }

    .eupho_problems_container {
        padding-top: 15px;
    }

    .eupho_links_container, .eupho_year_title {
        width: 40%;
        margin: auto;
    }

    .problem_container.class_baraj div {
        padding: 0;
        margin: 0;
    }

}

