
.year_container hr {
    border: 1px dashed gray;
}

.year_container * {
    text-align: center;
}

.year_title {
    color: green;
}

#contests {
    margin-top: 10px;
    margin-bottom: 15px;
}

.check_type {
    margin-bottom: 0;
}

.color_mech, .jaan_mech {
    /* color: #855000; */
}
