
<h2>Contul tau</h2>

<p>Nume: $name</p>

<p>Probleme rezolvate: $solved.length</p>

<p>Probleme salvate ($saved.length):</p>

<div id="saved_problems">
    $:saved
    <div class="inline_text_container">
        <p>$contest $year $qnumber - $name</p>
        <div class="btn btn-sm btn-primary solve-button">&#10003;</div>
    </div>
    $:saved
</div>

<p>Probleme neterminate ($notfin.length):</p>

<div id="saved_problems">
    $:notfin
    <div class="inline_text_container">
        <p>$contest $year $qnumber - $name</p>
        <div class="btn btn-sm btn-primary solve-button">&#10003;</div>
    </div>
    $:notfin
</div>