<div class="years_container">

    $?website
    <div class="center_text intro">
        <h3 id="longName" class="text-center">($longName)</h3>
        <p>Site-ul oficial al olimpiadei poate fi gasit <a target="_blank" href="$website">aici</a>.</p>
    </div>
    $?website
    <hr class="top_hr">

    $:values 
    <div class="problem_set_container inter_container">
        <div class="row">
            <div class="year_title problem_row_element col-lg 3 col-md-3 col-sm-12 col-xs-12">
                <h2> $year </h2>
                $?country <h3> $country </h3> $?country
                $?link <p><a target="_blank" href="$link">Site oficial</a></p> $?link
            </div>

            $:problems 
            <div class="problem_row_element center_text inter_year_container col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="$:topics type_$@ $:topics problem_container inter_problem_container">
                    
                    $?title <h3> $title 
                     
                        <div id="mark_dropdown">
                            
                            <a class="btn btn-sm btn-outline-primary dropdown-toggle mark_dropdown" role="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="drop_$shortName_$objStack.1.year_$loopIndex"></a>
                            
                            <div class="dropdown-menu" aria-labelledby="drop_$shortName_$objStack.1.year_$loopIndex">
                                $?objStack.2.state
                                    <p class="dropdown-item" id="drop_$shortName_$objStack.1.year_$loopIndex_un">Demarcheaza</p>
                                $?objStack.2.state
                                $objStack.2.state#saved
                                    <p class="dropdown-item" id="drop_$shortName_$objStack.1.year_$loopIndex_saved">Salveaza</p>
                                $objStack.2.state#saved
                                $objStack.2.state#notfin
                                    <p class="dropdown-item" id="drop_$shortName_$objStack.1.year_$loopIndex_notfin">Incepe</p>
                                $objStack.2.state#notfin
                                $objStack.2.state#solved
                                    <p class="dropdown-item" id="drop_$shortName_$objStack.1.year_$loopIndex_saved">Termina</p>
                                $objStack.2.state#solved
                            </div>

                        </div>
                    
                    </h3> $?title
                    
                    <div class="links_row row">
                        $?probLink <p> <a target="_blank" href="$base$probLink">Enunt</a> </p> $?probLink 
                        $!probLink <p> Enunt</p> $!probLink
                        $?solLink  <p> <a target="_blank" href="$base$solLink">Solutie</a> </p> $?solLink 
                        $!solLink  <p> Solutie </p> $!solLink
                    </div>

                    $?showTopics <p>
                        Topics:
                        $:topics
                            <span class="topic topic_$@">
                                $@=cin Cinematica $@=cin
                                $@=mech Mecanica $@=mech
                                $@=grav Gravitatie $@=grav
                                $@=osc Oscilatii $@=osc
                                $@=waves Unde $@=waves
                                $@=fluid Fluide $@=fluid
                                $@=thermo Termo $@=thermo
                                $@=circ Circuite $@=circ
                                $@=elec Electr. $@=elec
                                $@=mag Magnetism $@=mag
                                $@=opt Optica $@=opt
                                $@=quantum Cuantica $@=quantum
                                $@=nuc Nucleara $@=nuc
                                $@=rel Relativitate $@=rel
                                $@=other Random $@=other
                            </span>
                        $:topics
                    </p> $?showTopics

                    $?jaanNotes $:jaan
                        $?mech   <p class="jaan_note jaan_mech"> Mecanica: $mech          </p> $?mech
                        $?thermo <p class="jaan_note jaan_thermo"> Termodinamica: $thermo </p> $?thermo
                        $?em     <p class="jaan_note jaan_em"> Electromagnetism: $em        </p> $?em
                        $?other  <p class="jaan_note jaan_other"> Alte topicuri: $other     </p> $?other
                    $:jaan $?jaanNotes

                </div>
            </div>
            $:problems 
        </div>
    <hr>
    </div>
    $:values 

</div>