<div class="years_container">

    <div class="center_text intro">
        <h3 id="longName" class="text-center">($longName)</h3>
    </div>
    <hr class="top_hr">

    $:values
    <div class="national_year_container problem_set_set_container">
        <div class="row">
            <div class="national_year_title_container col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h2>$year</h2>
                $?place <h4>$place</h4> $?place
                $?link <p><a target="_blank" href="$link">Site oficial</a></p> $?link
            </div>
            <div class="classes_container col-lg-9 col-md-9 col-sm-12 col-xs-12">
                $:classes
                <div class="class_container problem_set_container class_$class row">
                    <div class="class_title_container col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        $class=baraj
                        <h3 class="nat_title_baraj">Baraj</h3>
                        $class=baraj
                        $class#baraj
                        <div class="nat_class_title">
                            <div class="nat_title_class">
                                <h3>$class</h3>
                            </div>
                            <div class="nat_links">
                                <p><a target="_blank" href="$base$objStack.1.year_c$class_prob.pdf">Enunturi</a></p>
                                <p><a target="_blank" href="$base$objStack.1.year_c$class_sol.pdf">Solutii</a></p>
                            </div>
                        </div>
                        $class#baraj
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
                        $:problems
                        <div class="problem_container $:topics type_$@ $:topics class_$objStack.2.class">
                            <div class="inline_text_container">
                                $?title <h5>$title</h5> $?title
                                $!title <h5>Problema $loopIndex</h5> $!title
        
                                $?showTopics <p>
                                    $:topics
                                    <span class="topic topic_$@">
                                        $@=cin Cinematica $@=cin
                                        $@=mech Mecanica $@=mech
                                        $@=grav Gravitatie $@=grav
                                        $@=osc Oscilatii $@=osc
                                        $@=waves Unde $@=waves
                                        $@=fluid Fluide $@=fluid
                                        $@=thermo Termo $@=thermo
                                        $@=circ Circuite $@=circ
                                        $@=elec Electr. $@=elec
                                        $@=mag Magnetism $@=mag
                                        $@=opt Optica $@=opt
                                        $@=quantum Cuantica $@=quantum
                                        $@=nuc Nucleara $@=nuc
                                        $@=rel Relativitate $@=rel
                                        $@=other Random $@=other
                                    </span>
                                    $:topics
                                </p> $?showTopics
                            </div>

                            $objStack.2.class=baraj
                            <div class="baraj_link_row inline_text_container">
                                $?probLink <p><a target="_blank" href="$base$probLink">Enunt</a></p>  $?probLink
                                $?solLink  <p><a target="_blank" href="$base$solLink">Solutie</a></p> $?solLink
                            </div>
                            $objStack.2.class=baraj

                        </div>
                        $:problems
                    </div>
                </div>
                $:classes
            </div>
        </div>
        <hr>
    </div>
    $:values

</div>